#service {
  font-weight: bold;
  background-color: #f0f8ff; // hoặc một màu nhạt khác để làm nổi bật

  .form-label {
    font-weight: bold;
  }

  .form-control {
    border: 2px solid #007bff; // thay đổi màu viền để làm nổi bật hơn
  }

  select {
    border: 2px solid #007bff; // áp dụng cho thẻ select bên trong
  }
}

button {
  margin: 5px; // để các nút không sát nhau quá
}

.d-flex {
  .btn {
    margin: 5px;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;

  .btn-danger {
    margin-right: auto;
  }

  .btn-primary {
    margin-left: auto;
  }
}
